.container {
    -fx-pref-width: 400px;
    -fx-pref-height: 600px;
}

.menu {}

.table {
    -fx-pref-width: 200px;
    -fx-pref-height: 200px;
}

.table__row--1 { -fx-pref-width: 75px; }
.table__row--2 { -fx-pref-width: 150px; }
.table__row--3 { -fx-pref-width: 100px; }
.table__row--4 { -fx-pref-width: 274px; }

